[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/rennes-hugo-theme"]
	path = themes/rennes-hugo-theme
	url = git@github.com:osunyorg/rennes-theme.git
